Labs & Exercises
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"twitter_Connection_Name":{"defaultValue":"twitter","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerBody()?.value","metadata":{"operationMetadataId":"1aeedf32-2772-408e-85aa-68f0b86adfe4","flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x67783535.sharepoint.com/sites/Bieren'))}/tables/@{encodeURIComponent(encodeURIComponent('48651abe-8ea6-4834-81fb-14a4078f3a71'))}/onnewitems","authentication":"@parameters('$authentication')"}}},"actions":{"Start_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"749c069b-c382-4aaa-80c5-094cf4f9caa8","flowSystemMetadata":{"swaggerOperationId":"approvalSubscribe"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"NotificationUrl":"@listCallbackUrl()","title":"New tweet@{triggerBody()?['Title']}","assignedTo":"admin@M365x67783535.OnMicrosoft.com","details":"@{triggerBody()?['TweetText']} on @{triggerBody()?['TweetDate']} from @{triggerBody()?['TweetedBy']}","itemLink":"https://m365x67783535.sharepoint.com/:l:/s/Bieren/FL4aZUimjjRIgfsUpAePOnEBHd7Cdsk63yUmGGkS7P8-zw?e=WraOk4","itemLinkDescription":"Multi Bier Tweet List"},"path":"/basic/$subscriptions","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Post_a_tweet":{"runAfter":{},"metadata":{"operationMetadataId":"ff28c436-1454-41d2-9592-b10f7495031b","flowSystemMetadata":{"swaggerOperationId":"Tweet"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['twitter']['connectionId']"}},"method":"post","body":"@triggerBody()?['Tweetcontents']","path":"/posttweet","queries":{"tweetText":"Tit@{body('Start_an_approval')?['title']}"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Post_a_tweet":["Succeeded"]},"metadata":{"operationMetadataId":"157bb332-da38-47fd-a066-123a4a71c3db","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@body('Start_an_approval')?['title']","ApprovalStatus":true,"ApproverComments":"{\"Value\":\"@body('Start_an_approval')?['comments']\"}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x67783535.sharepoint.com/sites/Bieren'))}/tables/@{encodeURIComponent(encodeURIComponent('48651abe-8ea6-4834-81fb-14a4078f3a71'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_an_approval":["Succeeded"]},"else":{"actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"47c5b7d6-e158-449f-a494-b4ce3f4f2f5b","flowSystemMetadata":{"swaggerOperationId":"PatchItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@body('Start_an_approval')?['title']","ApprovalStatus":false,"ApproverComments":"@body('Start_an_approval')?['comments']"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://m365x67783535.sharepoint.com/sites/Bieren'))}/tables/@{encodeURIComponent(encodeURIComponent('48651abe-8ea6-4834-81fb-14a4078f3a71'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], '')","metadata":{"operationMetadataId":"bcd64d0f-0e8b-44d4-b71e-3ca08994926a"},"type":"If"}},"outputs":{},"description":"If you need an approval process around which tweets to send out in your business, this is the template for you. Add your tweet texts to a SharePoint list, whenever a new item is added, it will send an approval request. If the approver approves, a new tweet will be posted with the text specified in the list item."},"parameters":{"$connections":{"value":{"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"twitter":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('twitter_Connection_Name'))]","connectionName":"[parameters('twitter_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"retryPolicy":{"type":"Exponential","interval":"PT7S","count":8,"minimumInterval":"PT5S","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-B1DCE3F944A84C56B98C6A45F0086633"}},"integrationAccount":{"name":"ee8840ac626b4f8486946ada5ce95827-westus","id":"subscriptions/c17c41e6-fd14-42bf-8563-5171aa5a255e/resourceGroups/ee8840ac626b4f8486946ada5ce95827-ia/providers/Microsoft.Logic/integrationAccounts/ee8840ac626b4f8486946ada5ce95827-westus","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('approvals_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('twitter_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twitter')]"},"displayName":"[parameters('twitter_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}
